@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Help</title>
</head>
<body style="background-color:#E8E9EE">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <hr />
                <p>
                    <h3 class="text-center"><strong>页面访问过期,请点击[退出系统],重新登录系统!</strong></h3><br />

                    <a href="~/Main/Login" title="退出系统" target="_top">
                        <h4 class="text-center">
                            [退出系统]
                        </h4>
                       
                    </a>
                    </a>
                </p>

                <br /><br /><br />

            </div>
        </div>
    </div>
</body>
</html>