@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.3.js"></script>
    <title>Help</title>
  
</head>
<body style="background-color:#E8E9EE">
   
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br />
                <hr />
                <p>
                    <h3><strong>重庆医药ISC耗材管理系统简介</strong></h3><br />
                    <h4>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp医疗耗材特点是使用范围广，年消耗量大，品种规格繁杂，价格差距悬殊，成本核算方式多样。
                        加强医用耗材的管理是各个医院都十分重视的问题。目前国内许多医院科室库房没有实现量化管理，
                        科室材料支出不明细，存在管理上的漏洞。传统的医疗耗材管理只是对医疗耗材仓库作进销存静态管理，
                        本系统在此基础上对全院性医疗耗材的有效生命周期进行动态管理，跟踪耗材从入库到领用到消耗的全过程，
                        对贵重耗材的运行情况进行监控，一旦超标及时预警，形成医院内部物流、资金流、信息流的集成与协调，
                        优化流程，优化资源配置，提高工效，降低成本。
                    </h4>
                </p>
                <p>
                    <h4>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本套系统分为智能柜管理系统(客户端C/S)和耗材管理系统(服务端B/S)。
                        你现在使用的是耗材管理系统。
                    </h4>
                </p>
                <br /><br /><br />
                <p>
                    <a class="btn btn-primary btn-large" href="http://www.cq-p.com.cn/">重庆医药集团介绍 »</a>
                </p>
              
            </div>
        </div>
    </div>
</body>


</html>
