@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Help</title>
</head>
<body style="background-color:#E8E9EE">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br /><br />
                <h3>
                    <strong>重庆医药ISC耗材管理系统</strong>
              
                </h3>
                <hr />
               
                <p>
                    <h4>系统前端框架采用Bootstrap3+Jquery技术实现响应式布局,支持移动端和桌面端同时访问并保持统一的可视化布局.</h4>
                </p>
                <p>
                    <h4>系统后端框架采用MVC5+Service+UnitOfWork+IRepository+EF6设计模式,层次清晰代码重用度高,便于后期功能扩展和二次开发.</h4>
                </p>
                <br />
                <p>
                    <h4><strong>版权所有：重庆医药(集团)股份有限公司-信息中心系统研发部</strong></h4>
                    <h4 class="text-warning">此系统相关技术为本公司机密信息，未经本公司书面同意禁止向第三方披露</h4>
                </p>
                
                <br /><br /><br />
                <p>
                    <a class="btn btn-primary btn-large" href="http://www.cq-p.com.cn/">重庆医药集团介绍 »</a>
                </p>
            </div>


        </div>
    </div>
</body>
</html>